#weeks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
}

@media (min-width: 1250px) {
    #weeks {
        margin: 10px 100px;
    }
}  

.week .shorttext {
    border: 1px solid #333333;
    border-radius: 5px;
    padding: 0 10px;
    margin: 4px;
}

.week .longtext {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 300px;
    max-width: 80%;
    padding: 15px;
    border-radius: 10px;
    top: 80%;
    left: 50%;
    background-color: black;
    color: white;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
}

.week:hover .longtext {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
}